body .minicart-wrapper .action.showcart::before{float: right;}
body .minicart-wrapper .action.showcart .counter.qty{text-align: left;font-weight: normal;text-transform: uppercase;}
/*body .page-header.type6 .panel.header .header.links > li > a, .page-header.type6 .panel.header .header.links > li > a{color: #333;padding: 0 7px;font-size: 14px;border-right: 1px solid #333;margin-right: 5px;text-transform: uppercase;}*/
.page-header.type6 .panel.header .header.links > li.nav.item a {color: #333;padding: 0 7px;font-size: 14px;border-right: 1px solid #333;margin-right: 5px;text-transform: uppercase;}
.panel.header .customer-welcome .action.switch::after{color: #333333;vertical-align: middle;}
.panel.header .customer-welcome{border-right: 1px solid #333;margin-right: 5px;text-transform: capitalize;padding: 0 7px;} 
.header.panel .nav.item.current{display: none;}
@media only screen and (min-width: 768px) {
.panel.header .customer-welcome .header.links {min-width: 220px;border-top: 1px solid;}
.panel.header .customer-welcome ul li{border-bottom: 1px solid;overflow: hidden;padding: 7px 0 7px 0;}
}

body .page-header.type6 .panel.header .header.links > li > a:hover{color: #333 !important}
body .header.panel > .header.links > li > a{padding: 0 12px;border-left: 0px;border-right: 1px solid #333;text-transform: uppercase;}
.header.panel > .header.links > li{margin-right: 10px;}
/*.counter.qty.empty .counter-number1{display: none;}*/
 @media only screen and (max-width: 767px) {
    .catalog-product-view .product.media{display: block;overflow: hidden;}
    /*.product-info-main .page-title-wrapper{display: none;}*/
    .product.media + .product-info-main .page-title-wrapper.product,.product.media + .product-info-main .attrib-prod{display: none;}
    .catalog-product-view .product-info-main .product.overview{margin-bottom: 0px !important;}
    .page-header.type6 .search-area {float: none !important;}
    .page-header.type6 .block-search .label{cursor: pointer;}
    .catalog-product-view  .sidebar.sidebar-main, .catalog-product-view  .sidebar.sidebar-additional{display: none;}
    .checkout_index_index .one-step-checkout-container .opc-block-summary.step-content,.opc.one-step-checkout-container{display: flex;flex-direction: column;}
    .opc.one-step-checkout-container .col-mp.mp-4.mp-sm-6.mp-xs-12.hoverable,.opc-block-summary .block.items-in-cart{order: 2;}
    .opc.one-step-checkout-container .col-mp.mp-4.mp-sm-6.mp-xs-12:nth-child(2){order: 3;}
    #place_order{background-color: #4AA5B0 !important;border-color: #4AA5B0 !important;height: 50px;font-size: 18px;font-weight: bold;width: 100%;}
    .one-step-checkout-wrapper .mp-4 #co-place-order-area .col-mp{display: none;}
    .catalog-product-view .product.data.items > .item.title.active > .switch,.catalog-product-view .product.data.items > .item.title > .switch{padding:0px 25px 0px 25px !important;}
    body .minicart-wrapper .action.showcart .counter.qty{color: #333;top: 8% !important;left: 5px;}
body .minicart-wrapper .action.showcart::before{font-size: 30px;}

.catalog-product-view .product-info-main .product-info-price{width: auto !important;}
.catalog-product-view .product-info-main .product-options-bottom .box-tocart{margin-top: 0px !important;}
.catalog-product-view .product-info-main .fieldset > .field.qty{top: -55px;left: 85px;}
.catalog-product-view .product-info-main #product-addtocart-button{width: 200px;text-transform: capitalize;}
.product-info-main .box-tocart .actions{margin-top: -50px;display: block;text-align: center;}
#place_order{display: block !important;}
.minicart-wrapper .counter.qty .counter-number{display: none;}
.footer .block-search input{position: inherit !important;margin: 5px 0 0 0 !important;}
.footer .block-search .label{display: none;}
.catalog-product-view .column.main{display: flex;flex-direction: column;}
.catalog-product-view .product.data.items > .item.title{margin: 2px 0 !important}
.catalog-product-view .product.data.items > .item.title > .switch{font-size: 1.6rem !important;}
.catalog-product-view .fotorama__nav-wrap.fotorama__nav-wrap--horizontal{text-align: center; }
}
#place_order{display: none;}
 @media only screen and (min-width: 768px) {
    .catalog-product-view .product.info.detailed   .data.item.content{padding: 45px 36px !important;min-height: 450px;}
    .sw-megamenu.navigation li.level0.classic .subchildmenu{min-width:200px !important;}
    .product-info-main .product-add-form{display: inline-block;float: right;}
    .catalog-product-view .product-options-bottom .product-info-price{float: left;}
    .page-product-configurable .pp-shipping-txt{padding-left: 70px;}
    body .minicart-wrapper .action.showcart .counter.qty{margin: -11px 0 0 !important;}
    body .minicart-wrapper .action.showcart::before{font-size: 23px !important;position: relative;left: 10px;}
    body .page-header.type6 .minicart-wrapper .action.showcart .counter-label,body .page-header.type6 .minicart-wrapper .action.showcart .text{position: inherit !important;}
    body .page-header.type6 .minicart-wrapper{height: auto;padding: 0px 0;top: -31px;width: 117px;}
    body .page-header .header.panel{padding-bottom: 0px;}
    body .page-header.type6 .header.content{padding: 0px 15px 28px 15px;}
    .checkout_index_index .one-step-checkout-container table.data.table.table-totals{order: 1;}
    .checkout_index_index #opc-sidebar .block.items-in-cart{order: 2; }
    .checkout_index_index .opc-block-summary.step-content{display: flex;flex-direction: column;}
    .catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .box-tocart .action.tocart{height: auto !important;padding:11px 0 14px 0; }
    .owl-nav [class*="owl-"]{background-color: transparent !important;}
    .catalog-product-view .block.related  .owl-controls .owl-nav [class*="owl-"] em::before,
    #latest_product .owl-controls .owl-nav [class*="owl-"] em::before,#featured_product .owl-controls .owl-nav [class*="owl-"] em::before{font-size: 60px}
    #latest_product .owl-controls,.catalog-product-view .block.related .owl-controls,#featured_product .owl-controls{width: 100%;top: 30%;position: absolute;z-index: -1;}
    #featured_product .owl-prev,#latest_product .owl-prev,.catalog-product-view .block.related .owl-prev{float: left;left: -62px;position: relative;}
    #featured_product .owl-next,#latest_product .owl-next,.catalog-product-view .block.related .owl-next{float: right;right: -62px;position: relative;}
    #latest_news .owl-controls {width: 100%;top: 30%;position: absolute;}
    #latest_news .owl-controls .owl-prev {float: left;left: -60px;position: relative;}
    #latest_news .owl-controls .owl-next {float: right;right: -60px;position: relative;}
    #latest_news .owl-controls [class^="porto-icon-"]:before, [class*=" porto-icon-"]:before {font-size: 60px;color: #333;}
    .catalog-product-view .product-options-bottom .box-tocart{float: right;}
    .catalog-product-view #tab-label-description{margin-left: 10px;}
    .catalog-product-view .product.data.items > .item.title{padding: 10px 1px 10px 0 !important;}
    .catalog-product-view .product.data.items > .item.title.active > .switch, .catalog-product-view .product.data.items > .item.title.active > .switch:focus, .catalog-product-view .product.data.items > .item.title.active > .switch:hover{border-bottom: #fff solid 2px !important }
    .catalog-product-view .product.data.items > .item.title.active > .switch,.catalog-product-view .product.data.items > .item.title > .switch{border-top-left-radius: 12px;border-top-right-radius: 12px;}
    .page-header.type6 .search-area{left: 140px !important;}
}
body .header.panel > .header.links > li strong,.customer-name{color: #333;
font-size: 14px;font-weight: normal;}
body .product-reviews-summary.short,.action.towishlist.actions-secondary {display: inline-block;border:0px;}
body .product-item .product-reviews-summary{margin:0px;}
body .product-item .rating-summary .rating-result{width: 110px;height:auto;}
body .product-item .rating-summary .rating-result::before{height: auto;}
body .product-item .action.towishlist,body .block.related .product-addto-links .action.towishlist{height: auto;
line-height: 1;}
body .product-item .rating-summary .rating-result > span::before{color: #ffc600;line-height: 18px;}
.product-item .rating-summary .rating-result > span::before{font-size: 18px;
height: 20px;}
body .product-item .rating-summary .rating-result::before,.product-item .rating-summary .rating-result::before{font-size: 18px;line-height: 18px;}
body .product-item-actions .action.towishlist:hover, body .product-addto-links .action.towishlist:hover, body .action.towishlist:hover{color: pink;}
body .product-item-details{padding: 5px 0;}
body .price-box{margin: 1px 0 3px;}
.product-item-info{min-height: 340px !important;
}
body .product.name.product-item-name{height: 40px!important;overflow: hidden;display: block;}



.checkout_index_index .product-item-detail .product.options .toggle{display: none;}
.checkout_index_index .product-item-detail .product.options .content{display: block !important;} 
.checkout_index_index .order-summary .step-title{padding: 20px !important}
.checkout_index_index .item-options .label{display: inline-block;float: left;font-weight: normal;margin-right: 5px;}
.checkout_index_index .opc-block-summary .product-item .price{font-weight: bold;}
.checkout_index_index .opc-block-summary.step-content,.checkout_index_index .order-summary .step-title{background-color: #f1f1f1;}
.checkout_index_index .order-summary .step-title .fa.fa-check-square{display: none !important;}
.checkout_index_index .order-summary .step-title span{color: #333;text-transform: capitalize;
font-size: 20px;
font-weight: bold;}
.checkout_index_index .order-summary .step-title,.checkout_index_index .one-step-checkout-container .opc-block-summary.step-content{border:0px !important;}
.checkout_index_index .one-step-checkout-container .opc-block-summary.step-content{padding-top: 0px !important}
.checkout_index_index .opc-block-summary .table-totals tbody .mark{text-align: left;color: #999;padding: 0;vertical-align: middle;line-height: 1;}

.checkout_index_index .opc-block-summary .table-totals tbody{padding-left: 25px !important;padding-right: 25px !important;display: block; }
.checkout_index_index .block.items-in-cart.active .title{display: none;}
.checkout_index_index #opc-sidebar .product-item-name,.checkout_index_index #opc-sidebar .item-options .values{margin-bottom: 0px !important}
.checkout_index_index .one-step-checkout-wrapper .minicart-items-wrapper .product-item-detail{padding-left: 6px;}
.checkout_index_index .grand.totals .mark strong{font-size: 1.2rem;font-weight: bold;color: #333;}
.checkout_index_index .opc-block-summary .totals.shipping.excl .mark .value{margin-top: 9px;}
.checkout_index_index .opc-block-summary .table-totals .grand .amount{font-size: 2.3rem;padding-top: 12px;
padding-bottom: 35px;border:0px;}
.checkout_index_index .column.main .opc-block-summary .product-item{margin-top: 20px;}
.checkout_index_index .opc-block-summary .product-item .product-item-inner{margin: 0px !important}
body .minicart-items .product-item-name{font-size: 14px !important;}
.checkout_index_index .opc-block-summary .table-totals .grand .mark{margin-top: 6px;padding-top: 12px;display: inline-block;border:0px;}
.checkout_index_index .opc-block-summary .table-totals tbody .amount, .checkout_index_index .opc-block-summary .table-totals tfoot .amount,
.checkout_index_index .opc-block-summary .table-totals tbody .mark{width: 100%}
.checkout_index_index .opc-block-summary .totals.shipping.excl{border-bottom: 1px solid #ccc;padding-bottom: 18px;display: block;}
.checkout_index_index .order-summary .totals.sub{border-top: 1px solid #ccc;
padding-top: 8px;
display: block;}
.checkout_index_index .opc-block-summary .product-item .product-item-inner{padding-right: 13px}
/*Product Page*/
.catalog-product-view .product-options-bottom .product-info-price{margin-top: 24px;}
.catalog-product-view .product-info-main .fieldset > .field.qty{width: 75px !important}
.catalog-product-view .product-info-main .box-tocart .actions, .catalog-product-view .box-tocart .action.tocart{margin-right: 0px !important}
.box-tocart .action.tocart::before{margin-right: 0px !important}
.product.attribute.overview{display: inline-block;float: left;width: 75%;}
.authorize_pic{width: 25%;display: inline-block;}
.product-info-main .product.overview{margin-top: 0px;}
.heading-descrip{font-size: 20px;font-weight: 100;margin: 0;}
.catalog-product-view .move-product-tab .product.info.detailed  .authorize_pic{display: none;}
.catalog-product-view .product-info-main .product.overview{border-bottom: 0px !important;}
.catalog-product-view .product-info-main .product.overview{margin-bottom: 100px;padding-bottom: 0px !important}
.catalog-product-view .product-info-main .product-info-price{display: inline-block;width: auto;}
/*.catalog-product-view .field.qty,#product_addtocart_form #product-addtocart-button{float: right;}*/
.catalog-product-view .fotorama__stage{border:0px;}
.catalog-product-view .product-info-main .product-info-price{border-bottom: 0px;margin-right: 15px;display: inline-block;}

.pp-shipping-txt{float: right;
display: block;}
/*.catalog-product-view .product-info-main .product-add-form{display: inline-block;}*/
.attrib-prod{overflow: hidden;display: block;}
.catalog-product-view .product-info-main .box-tocart{margin-bottom: 0px;}
.catalog-product-view .product-info-main .qty.field .control, .product-info-main .qty.field .qty-changer{margin-left: -4px !important}
.catalog-product-view .product-info-main .qty.field .qty-changer > a{position: inherit;}
.catalog-product-view .product-info-main .qty.field .qty-changer > a{height: 17px !important;line-height: 17px !important;}
.catalog-product-view .product-info-main .box-tocart .input-text.qty{height: 34px !important;padding: 0;}
.catalog-product-view .product-info-main .qty.field .qty-changer > a .porto-icon-up-dir::before{content: '\f810' !important;color: #333;}
.catalog-product-view .product-info-main .qty.field .qty-changer > a .porto-icon-down-dir::before{content: '\f813' !important;color: #333;}
.catalog-product-view .product-options-bottom .price-box, .product-info-price .price-box{padding-bottom: 0px;}
.catalog-product-view .product.pricing{display: none;}
.catalog-product-view .product-reviews-summary .reviews-actions::before,
.catalog-product-view .block.related .product-reviews-summary.short .rating-result::before{font-size: 18px !important;}
.catalog-product-view .block.related .rating-summary .rating-result{width: 100px !important}
.catalog-product-view .product-info-main .product-info-price .price-label{display: none !important;}
.catalog-product-view .product-info-main .product-reviews-summary{text-align: right;}
.catalog-product-view .product-info-main .product-addto-links{float:right;}
.catalog-product-view .product-info-main .product-addto-links::after {
    content: "Add to Favorites";
    text-transform: uppercase;
    font-size: 16px;
}
.catalog-product-view .action.towishlist{border:0px !important;}
.product-info-main .product-addto-links .action.towishlist::before{content: url(../images/icon-heart.png) !important;padding-top: 5px;}
.catalog-product-view .product-info-main .product-reviews-summary, .catalog-product-view .customer-review .product-reviews-summary{margin-bottom: 10px !important}
.catalog-product-view .product.data.items > .item.content{border:#333 solid 1px !important;}
.catalog-product-view .product.data.items > .item.title.active > .switch,.catalog-product-view .product.data.items > .item.title > .switch{color: #333; font-weight: 100;border: 1px solid #333;padding:5px 25px 5px 25px;}

.catalog-product-view button.action.primary{background-color: #333;border-color: #333;}
.catalog-product-view .box-tocart .action.tocart::before{display: none;}
.catalog-product-view .block.related .block-title #block-related-heading{font-weight: 100 !important;font-size: 24px !important;}
.catalog-product-view .block.related .block-title{text-align: center;}
.catalog-product-view .block.related .product-items .product-item-actions{display: block !important;margin: 0 auto;}
.catalog-product-view .products-grid .product-item-details .product-item-actions .tocart{line-height: 1;}
.catalog-product-view .block.related .field.choice{z-index: 9;}
.catalog-product-view .product-reviews-summary .reviews-actions a{text-transform: uppercase;margin-left: 0px;border-left: 0px;}
.category-sidebar li > .expand-icon{color: #333;}
.catalog-product-view .pr-block .sidebar-fil-title{margin-bottom: 0;}
.catalog-product-view a.pr-title{color: blue;text-decoration: underline;}
.catalog-product-view .sidebar-fil-title{font-weight: bold;}
.catalog-product-view .pr-block{margin-bottom: 2px;}
.category-sidebar li > a{color: #000 !important;font-size: 14px !important;font-weight: bold;}
.catalog-product-view .category-sidebar li ul li a,.inspa-brands-main a.inspa-item{font-weight: 300 !important;color: #000 !important}
.rating-summary .rating-result > span::before{color: #ffc600 !important;}

.catalog-product-view .product-options-wrapper{padding-bottom: 0px;border-bottom: 0;}
.page-product-configurable .product-info-main .product-add-form{width: 100%;}

.catalog-product-view .field.configurable.required{margin:0px !important }
.header.links .loader{display: none !important;}
.category-sidebar .porto-icon-plus-squared::before{content: '\f813' !important;font-size: 23px;}
.category-sidebar .porto-icon-minus-squared::before,.catalog-product-view .sidebar.sidebar-additional .porto-icon-minus-squared::before{content: '\f810' !important;font-size: 23px; }
#search_custom_form .actions{display: none !important;}
#search_custom_form .search-autocomplete ul li span{color:#333; }
.minicart-items .item-qty{padding: 0px;}
.resil_picserty{display: inline-block;}
.catalog-product-view .product-info-main .product-addto-links > a.action{width: auto;}
.minicart-wrapper .action.showcart .counter-label{position: inherit !important;}
/*Mini Cart*/
.action.multicheckout{color:#333;}
.opc-estimated-wrapper .minicart-wrapper{display: none;}


.subchildmenu .ui-menu-item.level1:nth-child(1) a,.subchildmenu .ui-menu-item.level1:nth-child(3) a{color: #777 !important;padding-top: 8px;font-size: 1.6rem !important;padding-top: 8px !important;
    padding-bottom: 10px !important;
    font-weight: bold;pointer-events: none;
  cursor: default;
  text-decoration: none;margin-top: 8px;}

@media only screen and (max-width: 480px) {
.pp-shipping-txt{float: none !important;text-align: center;}
.pp-shipping-txt p {
    font-size: 14px !important;
    letter-spacing: -1px !important;}
    .pp-shipping-txt p a{font-size: 14px !important}
    .catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .box-tocart .action.tocart{height: 50px !important;font-size: 18px !important;}
    .catalog-product-view .product-info-main .product-addto-links::after{font-size: 12px;
vertical-align: super;}
.resil_picserty {float: left;width: 45%;}
html .catalog-product-view .product.info.detailed .data.item.content{padding:15px 20px !important;}
.block-content .minicart-items .product-item-pricing .label{width: 2rem;}
}
.sections.nav-sections .navigation{font-weight: normal !important;}
.navigation .level-top,.sw-megamenu.navigation .level0 .submenu a{font-size: 16px !important;}
.category-sidebar ul > li ul > li,.category-sidebar ul li:nth-child(3), .category-sidebar ul li:nth-child(4) {
    display: block !important;
}
/*.category-sidebar ul > li{display: none;}*/
.category-sidebar > li.opened > a {display: none;}
.category-sidebar ul{padding: 0px !important}
.category-sidebar li.opened > ul > li > ul > li > a{font-weight: 600 !important;color: #333 !important;}
.category-sidebar li.opened > ul > li > ul > li > ul{padding-left: 18px !important;}
.category-sidebar li.opened > ul > li > ul > li > ul > li > a{font-weight: 100 !important;}
.minicart-wrapper .loading-mask{display: none;}
.sidebar.sidebar-main .inspa-brands-main{z-index: 9;position: relative;}
body .page-header.type6 .panel.header .header.links > li > a:hover{text-decoration: none;}
a.pr-title{font-weight: 200 !important;
color: #000 !important;
font-size: 14px !important;}
.breadcrumbs .item:not(:last-child)::after{margin: 0px !important;}
.breadcrumbs a, .breadcrumbs .item:not(:last-child)::after{vertical-align: initial !important;}
.breadcrumbs .item.home a {padding-right: 5px;}
.breadcrumbs a, .breadcrumbs .item:not(:last-child)::after{color: #000 !important}
.page-wrapper > .breadcrumbs .item:not(:last-child)::after{line-height: 12px !important;}
body .category-sidebar > li > ul > li > a{display: none;}
.breadcrumbs .item:not(:last-child)::after{padding-right: 5px;}
.category-sidebar .tooltip.wrapper{display: inline-block;margin-left: 5px;}
.category-sidebar .tooltip.wrapper .tool-tip-anchor,.category-sidebar .tooltip.wrapper .tool-tip-anchor:hover{color: #000;text-decoration: underline;}
@media only screen and (min-width: 992px) {
    .hidden-lg{display: none !important;}
.my-account-blk .border-right::before{width: 2px;
background: #9b9c9f;
content: "";
height: 200px;
float: right;}    
.my-acc-img{margin-top: 50px;}
.my-acc-img-border{padding: 0 15px;}
.padding-0{padding:0px !important; }
}
@media only screen and (min-width: 768px) {.my-acc-img p{color: #000;font-size: 16px;margin-top: 20px;line-height: 1.2;padding: 0 17px;}
}

@media only screen and (max-width: 767px) {
    .padding-0{min-height: 190px !important;padding: 0 !important;}
    .col-xs-6{max-width:50% !important; }
    .my-acc-img p{font-size: 15px;margin-top: 5px !important;margin: 0 auto;color: #000;min-height: 70px;line-height: 1.2;padding: 0 17px;}
    body .page-header.type6 .minicart-wrapper{
        margin: -10px 0;
    }
    .details-qty.qty button:not(.primary){
        padding: 0 7px;
    }
}

.my-acc-img img {
    width: 100%;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 2px solid #757272;
}
.my-acc-img {
    text-align: center;
}
.tooltip{opacity: 1 !important;z-index: inherit !important;}
.tooltip.wrapper p,.tooltip.wrapper{display: inline-block;font-size: 13px;}
.tooltip.wrapper .tooltip.content{z-index: 9 !important;}
.tooltip.wrapper .fa.fa-exclamation-circle{font-size: 8px;}
.catalog-product-view .product-info-main .qty.field .control #qty{margin-left: 10px !important;}
.secondary.emptycart-btn {float: right;}
.secondary.emptycart-btn a#empty-minicart {border: none;padding: 0;text-decoration: none;font-weight: 400;font-size: 14px;}
.secondary.emptycart-btn a#empty-minicart i.fa.fa-trash-o {color: red;font-size: 20px;}

.tooltip.wrapper .fa.fa-exclamation-circle{
    cursor: pointer;
}
.popover-body p{
    font-size: 12px;
}
.popover-body a{
    color: blue;
    font-size: 12px;
}
.popover-body a:hover, .popover-body a:focus{
    color: blue;
}
.minicart-wrapper .action.close{
    top: -8px !important;
    right: -6px !important;
}
button:not(.primary).update-cart-item{height: 30px;}
body {color:#666666;line-height: 2;font-size: 1.6rem;}
.tooltip.wrapper .fa.fa-info-circle {font-size: 18px;color: #C3C3E0;}
.product-info-price .price-box .price-container .price {font-family: 'Open Sans';font-size: 30px;font-weight: 100;letter-spacing: 0.01em;}
@media only screen and (min-width: 480px) {
    .update-cart-item{margin-left: 7px;}
    .minicart-wrapper .product .actions > .secondary {margin-right: 5px;}
}
@media only screen and (max-width: 480px) {
    .update-cart-item{margin-left: 2px;}
    .minicart-wrapper .product .actions > .secondary {margin-right: 5px;}
}
@media only screen and (max-width: 767px) {
    header.page-header .nav-sections-item-title {width: 50%;}
}
.review-tootlip-main img[src*="no_selection"] {display: none !important;}
button#btn-minicart-close, button.decreasing-qty, button.increasing-qty {outline: none;}
.table-title{
    color:#0067ff;
    text-transform: uppercase;
    font-weight: lighter;
}

.table .table-head tr th{
    border-bottom: 1px solid #333;
    border-top: 0px solid #dee2e6;
    padding-left: 0;
}
.table > tbody > tr > td{
    padding-left: 0 !important;
}
.account .data.table{
    margin-top: 0;
}
.tr-color > tr > td{
    color:#888;
}
@media screen and (max-width: 1024px){
    .table > tbody > tr > td{
        display: block;
        border-top: 0px solid #cccccc;
    }
    .table > tbody > tr > td:last-child{
        border-bottom: 1px solid #cccccc;
    }
    .table thead th{
        display: none;
    }
    .account .table-wrapper{
        border-top: 0px solid #333;
    }
}
@media screen and (min-width: 1024px){
    .desktop-hide{
        display: none;
    }
}
.desktop-hide{
    font-weight: bold;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}
.account-nav .nav > li > a,.account-nav .nav > li > strong{
    border-bottom: 0px solid #333 !important;
    color: #333 !important; 
    font-size: 14px !important;
    font-weight: 600 !important;
    padding-left: 0px !important;
}
.account-nav .nav > li{
    font-weight: bold;
    width: 100%;
}
.account-nav .nav > li:first-child{
    border-top: 1px solid #333
}
.account .base{
    color: #333;
}
.account-nav .nav > li > a::before,.account-nav .nav > li > strong::before{
    content: none !important;
}
.account-nav .category-sidebar ul > li ul > li{
    padding-right: 20px;
}
@media only screen and (min-width: 768px) {
    .header.panel > .header.links{
        margin-right: 115px !important;
    }
    .account_a 
    {
        padding-left: 11px !important;
    }
}
@media screen and (max-width: 767px) {
    .minicart-wrapper .action.showcart::before, .minicart-wrapper .action.showcart.active::before{
        line-height: 70px !important;
    }
    .nav-sections .header.links a{
        text-align: left;
        float: left;
    }
    .nav-sections .header.links li{
        width: 100%;
        display: block;
        float: left;
    }
    ul.account_links{
        padding: 0;
    }
    ul.account_links li:first-child{
        border-top: 1px solid #dddddd;
    }
    .header.links:nth-child(2) > li:first-child{
        display: none;
    }
    .my-account-blk .border-right.border-none{
        border-right: 0px solid #dee2e6 !important;
    }
    .navigation li .ui-menu-item > a::before{
        content: none !important;
    }
    .sw-megamenu.navigation li.ui-menu-item.level2.parent > .open-children-toggle{
        left: 90%;
    }
    .ui-menu-item.level1.parent > a{
        display: none !important;
    }
    .ui-menu-item.level1:nth-child(n+4) {
        padding-left: 16px;
    }
    .nav-sections .header.links li.nav.item.current strong{
        color: #777777;
        text-decoration: none;
        display: block;
        font-weight: 400;
        padding: 12px 20px;
        font-size: 14px;
        text-transform: uppercase;
    }
}
.account-nav ul.nav.items{
    display: none;
}
.header.panel > ul.header.links > li:nth-child(3){
    display: none !important;
}
ul.account_links::before,ul.account_links::after{
    content: none !important;
}
ul.account_links{
    margin-top: 0 !important;
}
li.account_li .porto-icon-plus-squared::before{
    content: '\f813' !important;
}
li.account_li .porto-icon-minus-squared::before{
    content: '\f810' !important;
}
.account_a {
    width: 84% !important;
    float: left !important;
}
li.account_li a.expand-icon{
    width: 10% !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    float: right; !important;
}
.account_links li a{
    margin-left: 23px;
    font-size: 14px;
}
a.expand-icon{
    cursor: pointer;
}
.my-account-blk .border-right{
    border-right: 0px solid #dee2e6 !important;
}
.sw-megamenu.navigation li.ui-menu-item.level2.parent > .open-children-toggle::before{
    content: '\f807';
    font-family: 'porto-icons';
    font-size: 20px;
    float: right;
}
.sw-megamenu.navigation li.ui-menu-item.level2.parent > .open-children-toggle.toggle-before::before{
    content: '\f804';
    font-family: 'porto-icons';
}
li.ui-menu-item.level2.parent > .subchildmenu{
    display: none;
}
.account .login-customer{
    display: block;
    background: url('../images/top-bg.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.login-customer, .account.customer-account-index .login-customer{
    display: none;
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
    .account .login-customer .hero-text {
      top: 17%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .account .login-customer .hero-text {
      top: 15%;
  }
}

.articles-main .row {margin: 0;}
.post-view.inspa-blogs .post-holder {margin-left: 0;}
.post-view.inspa-blogs .post-header {margin-bottom: 0;}
.post-view.inspa-blogs .post-header h2.post-title {margin-bottom: 0;font-size: 28px;}
.post-view.inspa-blogs img.inspa-blog-banner {margin: 10px 0;}
h1.acc-top-heading {text-align: center;font-size: 55px;margin-bottom: 0;font-weight: bold;}
h1.acc-top-heading img {margin: 6px 0 0 10px;}
.row.my-account-cont p {text-align: center;font-size: 16px;margin-top: 15px;font-weight: 500;}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .my-acc-img img {height: 80px;width: 80px;}
}
p.acc-top-desc {font-size: 21px;text-align: center;}
.account.customer-account-index .page-title-wrapper {display: none;}
@media screen and (min-width: 768px){
body .account_links{box-shadow:none !important;overflow: hidden;position: inherit !important;}
body .account_li.opened .account_links li{padding: 0px !important;}
}
.customer-welcome ul li:hover{background: #fff;}
.account_li.opened ul li:last-child {border-bottom: 0;}

body .account_li.opened{padding: 7px 0 0px 0px !important}
body .account_li.opened .account_links li:first-child{border-top: 1px solid;margin-top: 6px;}
@media screen and (min-width: 767px){
	header.page-header.sticky-header .minicart-wrapper {margin-top: -20px !important;}
}
@media screen and (max-width: 767px){
	.tooltip.wrapper.review-tootlip-main span.item.options.tooltip.content {min-width: 15rem;left: -200%;}
	.tooltip.wrapper.review-tootlip-main span.item.options.tooltip.content:before {right: 15px;left: unset;}
	.tooltip.wrapper.review-tootlip-main span.item.options.tooltip.content:after {right: 16px;left: unset;}
	.filter-title strong {left: unset !important;right: 1px !important;top: 16% !important;background-color: #4e5e75 !important;}
	.filter-title strong:before {color: #fff !important;}
	.filter.active .filter-subtitle {left: unset !important;right: 0 !important;}
	.filter.active .filter-title {left: unset !important;right: 0 !important;background-color: #4e5e75 !important;}
    .filter.active .filter-options {left: unset !important;right: 0 !important;}
    .fotorama__caption {display: none;}
    .navigation .submenu:not(:first-child) ul {padding-left: 20px!important;}
    p.checkout-description {margin-bottom: 3rem !important;}
    .products-grid.wishlist .product-item-actions > *:last-child {margin-left: 3px;}
    body.account.wishlist-index-index .pager {margin-bottom: 10px;}
    body.catalog-product-view.product-type-default div#qty-error {bottom: -22px;}
    body.cms-porto_home_5.cms-index-index div#banner-slider-demo-1 {margin-top: 64px;}
    div#latest_news .owl-controls {top: 100%;left: 0;}
    div#latest_news .owl-controls .owl-nav [class*=owl-] {margin: 5px;padding: 4px 10px;color: #333;font-size: 17px;}
    body.page-products.page-with-filter.catalogsearch-result-index .filter-title strong {top: 20% !important;}
    ul.header.links li.nav.item {display: none;}
    .sections.nav-sections ul.header.links li.nav.item {display: block;}
    .filter.active .filter-current {right: 0 !important;left: initial!important;}
    .filter.active .filter-current + .block-actions {right: 0 !important;left: initial!important;}
    body.filter-active .columns {z-index: auto !important;}
}
.brand-label{font-size: 15px;}
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.navigation .level-top, .sw-megamenu.navigation .level0 .submenu a {font-size: 14px !important;padding: 0 10px!important;}
}
@media screen and (min-width: 992px) and (max-width: 1100px){
	.navigation .level0.parent > .level-top {padding-right: 12px !important;}
    body.account.wishlist-index-index .products-grid.wishlist .box-tocart .action.tocart > span {font-size: 12px;}
    body.account.wishlist-index-index .products-grid.wishlist .product-item .tocart {padding: 0 6px;}
    .products-grid.wishlist .product-item .fieldset .field.qty {padding-right: 5px;}
    body.account.wishlist-index-index.page-layout-2columns-left .box-tocart div.control {width: 30px !important;}
    body.account.wishlist-index-index .box-tocart div.control .input-text.qty {width: 30px !important;}
    .row.my-account-cont p {font-size: 14px;}
}
@media screen and (min-width: 767px) and (max-width: 991px){
	.navigation .level0.parent > .level-top {padding-right: 5px !important;}
}
@media screen and (min-width: 1100px){
	.page-header.type6 .navigation>ul {text-align: center;float: right;}
}
@media screen and (min-width: 768px) and (max-width: 992px){
	.page-header.type6 .logo {margin: 0 !important;}
	.navigation .level0 > .level-top {padding: 0 7px !important;}
    .catalog-product-view .product.data.items > .item.title.active > .switch, .catalog-product-view .product.data.items > .item.title > .switch{padding: 5px 12px 5px 12px !important;}
    .category-sidebar li.opened > ul > li > ul > li > a {font-size: 12px!important;}
}
@media screen and (min-width: 992px){
	.page-header.type6.sticky-header .navigation>ul {text-align: center;float: unset;}
}
@media screen and (max-width: 992px){
	.page-header.type6.sticky-header .navigation .level-top, .page-header.type6.sticky-header .sw-megamenu.navigation .level0 .submenu a {font-size: 12px!important;}

}
@media screen and (min-width: 768px){
	.navigation .level0.parent > .level-top {padding-right: 12px!important;}
	header.page-header.type6.sticky-header span.counter-number {display: none;}
	body .page-header.type6 .header.content {padding-bottom: 10px!important;}
	header.page-header.type6 {box-shadow: 0 0 7px rgba(0,0,0,.1)!important;}
    .page-header .navigation .level0.parent > a:after{display:none!important}
  	.page-header.type6 .navigation li.classic.parent .level0.submenu {display: none;}
    .product-info-main .page-title-wrapper h1 {margin-bottom: 0;}
    body.account.wishlist-index-index.page-layout-2columns-left .box-tocart div.control {width: 40px !important;}
    .products-grid.wishlist .box-tocart div.control .input-text.qty {margin-left: 0!important;}
    body.account.wishlist-index-index .products-grid.wishlist .product-item-name {height: 40px;}
    .sw-megamenu.navigation li > a > span {vertical-align: top !important;}
}
.breadcrumbs ul.items {text-transform: uppercase;}
p.sidebar-fil-title {width: 96% !important;}
.checkout-payment-method .payment-option-content {padding: 0 0 18px 0px;}
body.page-products.brand-skin-authority .page-title-wrapper, body.page-products.brand-comfort-zone .page-title-wrapper, body.page-products.brand-dermalogica .page-title-wrapper, body.page-products.brand-hydropeptide .page-title-wrapper, body.page-products.brand-pca .page-title-wrapper {display: none;}
.product-reviews-summary .reviews-actions a{padding: 0 4px !important;}
body.catalog-product-view.checkout-cart-configure .box-tocart.update .control {width: 40px!important;}
body.catalog-product-view.checkout-cart-configure .qty-changer {float: right;}
.onestepcheckout-index-index .page-title-wrapper {margin-bottom: 0!important;}
.opc-wrapper.one-step-checkout-wrapper .step-title span {text-transform: capitalize;}
p.filters-top-heading {margin: 0;font-size: 16px;}
body.page-with-filter.categorypath-products-skin-care-moisturizers.category-moisturizers .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-treatments.category-treatments .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-eye-care.category-eye-care .filter-options-item:nth-child(1) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-eye-care.category-eye-care .filter-options-item:nth-child(2) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-lip-treatments.category-lip-treatments .filter-options-item:nth-child(1) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-lip-treatments.category-lip-treatments .filter-options-item:nth-child(2) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-lip-treatments.category-lip-treatments .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-body-category-sun-care.category-sun-care .filter-options-item:nth-child(2) {display: none;}
body.page-products.page-with-filter.catalogsearch-result-index .page-title-wrapper .page-title {display: none !important;}
body.page-products.brand-dermalogica.magebestbrand-brand-view .magetopbrand {display: none !important;}
body.page-products.brand-dermalogica.magebestbrand-brand-view .item.group {display: none !important;}
body.page-products.brand-hydropeptide.magebestbrand-brand-view .item.magetopbrand {display: none !important;}
body.page-products.brand-hydropeptide.magebestbrand-brand-view .item.group {display: none !important;}
body.page-products.brand-pca.magebestbrand-brand-view .item.magetopbrand {display: none;}
body.page-products.brand-pca.magebestbrand-brand-view .item.group {display: none;}
body.page-products.brand-skin-authority.magebestbrand-brand-view .item.magetopbrand {display: none;}
body.page-products.brand-skin-authority.magebestbrand-brand-view .item.group {display: none;}
body.page-products.brand-comfort-zone.magebestbrand-brand-view .item.magetopbrand {display: none !important;}
body.page-products.brand-comfort-zone.magebestbrand-brand-view .item.group {display: none;}


body.page-with-filter.page-products.categorypath-products-skin-care-moisturizers-tinted-moisturizers.category-tinted-moisturizers .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-treatments-exfoliators.category-exfoliators .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-treatments-masks .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-treatments-serums.category-serums .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-eye-care-eye-masks.category-eye-masks .filter-options-item:nth-child(1) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-eye-care-eye-treatments.category-eye-treatments .filter-options-item:nth-child(1) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-eye-care-lashes.category-lashes .filter-options-item:nth-child(1) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-lip-treatments-lip-balms-treatments.category-lip-balms-treatments .filter-options-item:nth-child(1) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-lip-treatments-lip-balms-treatments.category-lip-balms-treatments .filter-options-item:nth-child(2) {display: none;}
body.page-with-filter.page-products.categorypath-body-category-sun-care.category-sun-care .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-body-category-sun-care-body-sunscreens.category-body-sunscreens .filter-options-item:nth-child(2) {display: none;}
body.page-with-filter.page-products.categorypath-body-category-sun-care-facial-sunscreens.category-facial-sunscreens .filter-options-item:nth-child(2) {display: none;}
body.page-with-filter.page-products.categorypath-body-category-sun-care-facial-sunscreens.category-facial-sunscreens .filter-options-item:nth-child(3) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-eye-care-eye-treatments.category-eye-treatments .filter-options-item:nth-child(2) {display: none;}
body.page-with-filter.page-products.categorypath-products-skin-care-lip-treatments-lip-balms-treatments.category-lip-balms-treatments .filter-options-item:nth-child(3) {display: none;}
.brand-description p {text-align: left !important;}
.brand-description h3 {text-align: left !important;}
.products-grid.wishlist .product-item-actions .action.edit, .products-grid.wishlist .product-item-actions .action.delete {color: #333;font-size: 14px;}
.products-grid.wishlist .product-item-actions .action.edit:hover, .products-grid.wishlist .product-item-actions .action.delete:hover {color: #4aa5b0;}
.cart-empty p a:hover {color: #002956;}
body.wishlist-shared-index form.form.shared.wishlist img.product-image-photo {width: 113px;}
body.wishlist-shared-index form.form.shared.wishlist span.product-image-wrapper {padding-bottom: 113px!important;}
body.wishlist-shared-index form.form.shared.wishlist a.action.towishlist {border: 1px solid #ccc;color: #777;line-height: 31px;padding: 6px 12px 7px;background-color: #fff;margin-left: 8px;}
body.wishlist-shared-index form.form.shared.wishlist a.action.towishlist:hover {background-color: #586983!important;color: #fff!important;text-decoration: none;border-color: #586983!important}
body.page-product-configurable.catalog-product-view.checkout-cart-configure .control {width: auto!important;}
body.catalog-product-view.product-type-default div#qty-error {position: absolute;width: 300px;left: -35px;}
div#latest_news .owl-controls {z-index: -1;}
.intercom-app .intercom-launcher-frame {right: 6px!important;bottom: 44px!important;}
.fotorama__fullscreen-icon:before {font-family: FontAwesome!important;content: "\f00e"!important;}
.minicart-items .details-qty.qty .label {display: none;}
.minicart-items .details-qty.qty .decreasing-qty, .minicart-items .details-qty.qty .increasing-qty, .minicart-items .details-qty.qty .item-qty.cart-item-qty {outline: none;box-shadow: none;}
body.checkout_index_index.onestepcheckout-index-index .minicart-items-wrapper li.item.product.product-item {height: auto;}
.login-container a.action.remind:hover {color: #4aa5b0;}
.panel.header .links, .panel.header .switcher{list-style: none;}
.header.panel > .header.links .text{font-size: 14px;position: inherit;margin: 0;padding: 0;}
.page-header.type6 > .panel.wrapper .header.links > li > a{color: #333;font-size: 14px;padding-left: 15px;}
.page-header.type6 .panel.header .header.links > li > a{width: 100%}
body.brand-comfort-zone .sidebar.sidebar-main .block-content, body.brand-dermalogica .sidebar.sidebar-main .block-content, body.brand-hydropeptide .sidebar.sidebar-main .block-content, body.brand-pca .sidebar.sidebar-main .block-content, body.brand-skin-authority .sidebar.sidebar-main .block-content{display: none;}
.header.links > li > a {
    float: right;
    color: #333;
    padding: 0 7px;
    font-size: 14px;
    margin-right: 5px;
    text-transform: uppercase;
}
.customer-menu ul.header.links,.nav-sections-item-content ul.header.links{
    display: flex;
    flex-direction: column;
}
.customer-menu ul.header.links .authorization-link,.nav-sections-item-content ul.header.links .authorization-link{
    order:3;
} 
.header.links .header.links li{display: none;}
.header.links {display: none;}
.fotorama__stage__frame .fotorama__img {padding: 25px;}
p.size-attribute-head {font-size: 14px;font-weight: 400;color: #586983;}
p.size-attribute-head span {font-size: 17px;font-weight: 700;}
.move-product-tab .product.info.detailed .size-attribute {display: none;}
body.catalog-product-view.product-type-default .product-reviews-summary {display: none;}
@media screen and (max-width: 360px) {
    ul.subchildmenu li.ui-menu-item a span {font-size: 12px !important;}
}

.onestepcheckout-index-index .create-account-block{
    display: none !important;
}