<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<preference for="Smartwave\Porto\Block\CategoryCollection" type="Devbatch\CategoryShortDescription\Block\CategoryCollection" />

</config>
