<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="push_notification" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Push Notifications</label>
            <tab>mirasvit</tab>
            <resource>Mirasvit_PushNotification::push_config</resource>

            <group id="authorization" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Authorization Settings</label>

                <field id="google_api_key" translate="label comment tooltip" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google API Key</label>
                </field>

                <field id="gcm_sender_id" translate="label comment tooltip" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GCM Sender ID</label>
                </field>
            </group>
        </section>
    </system>
</config>
